numpy 
torch
torchvision
torchaudio
accelerate
appdirs
loralib
bitsandbytes
black[jupyter]
datasets
fire
transformers
sentencepiece
gradio
protobuf==3.20.3
deepspeed
tensorboard
ipython
ipykernel
jupyter
peft
wandb 
tqdm 
moviepy
langchain
pandas 
matplotlib 
seaborn 
scikit-learn
einops
trl
langdetect
immutabledict
antlr4-python3-runtime
